storage: none
version 5.223.0
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/zeekoget/api/v3/index.json

nuget mapster
nuget EasyCaching.InMemory
nuget Fizzler.Systems.HtmlAgilityPack
nuget FluentAssertions
nuget Giraffe
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget xunit
nuget xunit.runner.visualstudio
nuget Z.EntityFramework.Plus.EFCore
nuget ZeekoUtilsPack.BCLExt
nuget FSharpx.Extras
nuget FsToolkit.ErrorHandling
// [ FAKE GROUP ]
group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Yarn
    nuget MyFakeTools 0.0.15
