storage: none
version 5.226.0
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/zeekoget/api/v3/index.json
framework: auto-detect

nuget mapster
nuget EasyCaching.InMemory
nuget FluentAssertions
nuget Giraffe
nuget TaskBuilder.fs ~> 2.2 prerelease
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget xunit
nuget xunit.runner.visualstudio
nuget Z.EntityFramework.Plus.EFCore
nuget ZeekoUtilsPack.BCLExt
nuget FSharpx.Extras
nuget FsToolkit.ErrorHandling
// [ FAKE GROUP ]
group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    framework: netstandard2.0
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Yarn
    nuget MyFakeTools 0.0.16
