storage: none
source https://api.nuget.org/v3/index.json
source https://www.myget.org/F/zeekoget/api/v3/index.json
framework: net6.0

nuget mapster
nuget EasyCaching.InMemory
nuget FluentAssertions
nuget Giraffe
nuget Ply
nuget Microsoft.ApplicationInsights.AspNetCore
nuget Npgsql.EntityFrameworkCore.PostgreSQL
nuget xunit
nuget xunit.runner.visualstudio
nuget Z.EntityFramework.Plus.EFCore
nuget FSharpx.Extras
nuget FsToolkit.ErrorHandling
nuget System.ServiceModel.Syndication
// [ FAKE GROUP ]
group Build
    storage: none
    source https://api.nuget.org/v3/index.json
    source https://www.myget.org/F/zeekoget/api/v3/index.json
    framework: net6.0
    nuget Fake.DotNet.Cli
    nuget Fake.Core
    nuget MyFakeTools
    nuget Fake.JavaScript.Npm
    nuget Fake.BuildServer.GitHubActions
