<div class="side-card">
    <div class="side-title">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="divide"></div>
    <div class="side-body">
        @Html.Raw(ViewBag.Content)
    </div>
</div>