@font-face {
    font-family: 'Segoe MDL2 Assets';
    src: url('/assets/SegoeMDL2Assets.eot?#iefix') format('embedded-opentype'), url('/assets/SegoeMDL2Assets.woff') format('woff'), url('/assets/SegoeMDL2Assets.ttf') format('truetype'), url('/assets/SegoeMDL2Assets.svg#SegoeMDL2Assets') format('svg');
    font-weight: normal;
    font-style: normal;
}

@import './parts/index';
@import './parts/article.styl';
@import './parts/code.styl';
@import './parts/sidebar.styl';
@import './parts/utils.styl';

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 150%;
    font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    word-break: break-all;
    color: #2e2e2e;
}

a {
    color: #0072c6;
    text-decoration: none;

    &:visited {
        color: gray;
    }

    &:hover {
        color: #004185;
    }
}

.weak {
    color: #454545;
    font-size: 90%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
}

h1 {
    color: #303671;
}

.divide {
    height: 1px;
    background: #969696;
    padding: 0;
    width: 100%;
}

.mdl2 {
    font-family: 'Segoe MDL2 Assets';
}

code-part();
sidebar-part();

/* Index.cshtml */
.index {
    index-part();
}

/* Article Read Only */
.article {
    article-part();
}

/* 直接出现在 grid 中的分割线 */
.wide-divide {
    margin-left: 8px;
}

.action-btn {
    display: none;
}

@media screen and ({on}: tablet) {
    // tablet
    .wide-divide {
        margin: 0;
    }
}

@media screen and ({on}: phone) {
    // phone
    .action-btn {
        height: 4.8rem;
        width: 4.8rem;
        background: #ff4d00;
        z-index: 11;
        position: fixed;
        display: block;
        bottom: 2.4rem;
        right: calc(50% - 2.4rem);
        opacity: 0.7;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;

        b {
            font-size: 2.1rem;
            color: white;
        }
    }
}
