@import './parts/index';
@import './parts/article.styl';
@import './parts/code.styl';
@import './parts/sidebar.styl';

html {
    font-family: 'Segoe UI', SegoeUI, 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    word-break: break-all;
    color: #2e2e2e;
}

a {
    color: #0072c6;
    text-decoration: none;

    &:visited {
        color: gray;
    }

    &:hover {
        color: #004185;
    }
}

.weak {
    color: #454545;
    font-size: 0.9em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: initial;
}

h1 {
    color: #303671;
}

.divide {
    height: 1px;
    background: #969696;
    padding: 0;
    width: 100%;
}

code-part();
sidebar-part();

/* Index.cshtml */
.index {
    index-part();
}

/* Article Read Only */
.article {
    article-part();
}

@media screen and (min-width: 768px) {
    /* 直接出现在 grid 中的分割线 */
    .wide-divide {
        margin-left: 8px;
    }
}
