@maincolor: #FFFFFF;
@primarycolor: #303671;
@secondarycolor: #2c3e50;
@tertiarycolor: #454545;
@sidebarbackground: #CCC;
@linkcolor: #0072c6;
@link-visited: gray;
@link-hover: #004185;
@white: #FFFFFF;
@black: #333;
