@import "index";
@import "article";
@import "sudo";
@import "rendered-content";
@import "variables";

:root {
    font-size: 62.5%;
}

body {
    font-size: 16px;
    font-family: Segoe UI,SegoeUI,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif!important;;
}

.heimu {
    color: #252525;
    text-shadow: none;
    background-color: #252525;
    transition: color .13s linear;

    &:hover {
        color: #fff;
    }
}

.section {
    @height: 2rem;
    font-size: @height;
    line-height: @height + 1rem;
    font-weight: bold;
    position: relative;
    margin-top: 4rem;
    display: block;
    color: @color-font-2;

    &:before {
        content: ' ';
        display: block;
        width: 8px;
        height: 2.5rem;
        background: @color-bg-2;
        color: @color-font-2;
        position: absolute;
        left: -2.5rem;
    }
}


a {
    .link();
}

.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 360px auto 160px;
    grid-template-columns: @length-module-left[desktop] 50% 12.5% @length-module-left[desktop];
    grid-template-areas: "header header header header" ". module side ." "footer footer footer footer";

    .tablet({
        grid-template-columns: @length-module-left[tablet] 60% 20% @length-module-left[tablet];
    });

    .mobile({
        grid-template-rows: 160px auto auto 160px;
        grid-template-columns: @length-module-left[mobile] 80% 0 @length-module-left[mobile];
        //grid-template-columns: @length-module-left[tablet] 60% 20% @length-module-left[tablet];
        grid-template-areas: "header header header header" ". side side ." ". module module ." "footer footer footer footer";
    });

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
        padding-left: @length-module-left[desktop];
        .tablet({
            padding-left: @length-module-left[tablet];
        });
        background: @color-bg-1;
        color: @color-font-3;
    }

    .module {
        grid-area: module;
        margin-right: 45px;
        .mobile({
            margin-right: 0;
        });
    }

    .side-container {
        grid-area: side;
        margin-left: 30px;
        height: calc(100vh - 360px);
        position: sticky;
        top: 0;
        .mobile({
            margin-left: 0;
            height: unset;
            position: relative;
            top: unset;
        });

        .side-card {
            .side-title h3 {
                .section();
            }

            .side-body {
                display: flex;
                flex-flow: column;
            }

            .side-item {
                .link-block(1.8);
            }
        }
    }
}

.copyright {
    display: block;
    margin-top: 2rem;
}

.powered {
    margin-top: 1rem;
    display: block;
}

