@{
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="grid-spaceAround">
    <div class="">
        <div class="">
            <h2>@ViewData["Head"]</h2>
        </div>
        @RenderBody()
    </div>

</div>

@section Scripts {
    <script src="~/dist/zeeko.js"></script>
}

@section Styles {
    @RenderSection("Styles", false)
}
