@page
@model ZeekoBlog.Pages.Zeeko.LoginModel
@{
    ViewData["Title"] = "登录";
    ViewData["Head"] = "由此进入";
    Layout = "~/Pages/Zeeko/_Layout.cshtml";
}
<div class="col-12 grid-center">
    <div class="col-4 grid">
        <div class="col-12">
            <input id="userName" type="text" name="userName" value=""/>
        </div>
        <div class="col-12">
            <input id="password" type="password" name="password" value=""/>
        </div>
        <div class="col-12">
            <button id="loginBtn">登录</button>
        </div>
    </div>
</div>
