article-part() {
    blockquote {
        background-color: #F4F4F4;
        margin: 0;
        padding: 1em 1.5em;
        border-left: 0.3em solid #737373;
    }

    @media screen and (min-width: 48em) {
        .action-btn {
            display: none;
        }
    }

    @media screen and (max-width: 48em) {
        .MathJax_Display {
            overflow: auto !important;
        }
    }

    p {
        line-height: 1.5;
    }

    .article-md {
        &.content {
            a {
                word-wrap: break-word;
            }

            img {
                max-width: 100%;
            }
        }

        table {
            border-collapse: collapse;
            width: 100%;
            overflow: scroll;

            th, td {
                border: 1px solid #ddd;
                padding: 0.5em;
            }

            th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #0072d0;
                color: white;
            }

            tr {
                &:nth-child(even) {
                    background-color: #f2f2f2;
                }

                &:hover {
                    background-color: #ddd;
                }
            }
        }
    }
}
