@import '../text.md.less';
@import '../text.adoc.less';

.article-part() {
    h1 {
        font-size: 2.75em;
    }
    .content {
        font-size: 1.6rem;
        padding-top: 1rem;

        .heimu {
            background-color: #252525;
            color: #252525;
            text-shadow: none;

            &:hover {
                transition: color .13s linear;
                color: #fff;
            }
        }

        .asciidoc();

        &.md {
            .md();
        }
    }
}
