code-part() {
    code {
        font-family: Consolas, 'Microsoft YaHei', monospace;
        word-wrap: break-word;
        background: #F4F4F4;
        display: inline-block;
        padding: 0.2em 0.2em 0 0.2em;
    }

    pre > code:not(.hljs) {
        background: #F4F4F4;
        padding: 1em;
        display: block;
        margin: 0.4em 0;
        overflow: auto;
    }
}
