code-part() {
    code {
        font-family: Consolas, 'Microsoft YaHei', monospace;
        word-wrap: break-word;
        background: #F4F4F4;
        display: inline-block;
        padding: 0.3rem 0.3rem 0 0.3rem;
    }

    pre > code:not(.hljs) {
        background: #F4F4F4;
        padding: 1.6rem;
        display: block;
        margin: 0.6rem 0;
        overflow: auto;
    }
}
