index-part() {
    h1, h2, h3, h4, h5, h6 {
        font-weight: initial;
    }

    h1 {
        color: #303671;
    }

    .summary {
        margin-top: 0.3em;
        line-height: 1.8;
    }

    .article-short > h2 {
        margin-bottom: 0.3em;
    }
}
