@import './utils.styl';

sidebar-part() {
    .side-title > h3 {
        margin-bottom: 0.3rem;
    }

    .side-body {
        margin-top: 0.3rem;
        display: flex;
        flex-flow: column nowrap;

        .side-item {
            padding: 0.5rem 0 0.5rem 0.3rem;
            hover-block();
        }
    }

    /* TOC 列表 */
    .toc-list {
        list-style: none;
        padding: 0;
        font-size: 90%;

        li {
            margin: 0.8rem 0;
        }
    }

    .toc-H3 {
        padding-left: 1.6rem;
    }

    .toc-H4 {
        padding-left: 3.2rem;
    }

    .toc-H5 {
        padding-left: 4.8rem;
    }

    /* TOC 列表 end */
    .side-card {
        margin-left: 4.8rem;
    }

    @media screen and ({on}: phone) {
        .side-container {
            position: fixed;
            width: 100vw;
            height: 0;
            background: white;
            z-index: 10;
            overflow: auto;
            opacity: 0;
        }

        .toc-list li {
            margin: 3.2rem 0;
        }
    }
}
