hover-block() {
    &:hover {
        background-color: #eeeeee;
    }
}

on = 'max-width';
tablet = 839px;
phone = 480px;
codeFont = "Fira Code","SFMono-Regular", Consolas, "Liberation Mono", monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI';
