@page
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yame</title>
    <style>
        .my-editor {
            height: 600px;
            display: block;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/@@webcomponents/webcomponentsjs@2.0.0/webcomponents-loader.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@vutk/yame@0.0.2/dist/yame-index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@vutk/yame@0.0.2/dist/yame-vendors.min.js"></script>
    <script>
        YameInit();
    </script>
</head>
<body>
    <h1><a href="https://github.com/cnblogs/yame">YAME</a> - Yet another markdown editor.</h1>
    <ya-markdown class="my-editor"></ya-markdown>
    <markdown>
## TODO

### lint

* [x] 不规范 markdown 语法警告

### 快捷键

* [x] `ctrl+l` 插入链接
* [x] `ctrl+p` 插入图片地址
* [x] `ctrl+i` 选中文字斜体
* [x] `ctrl+b` 加粗

### snippets + `tab`

* [x] `;l` + `tab` 链接
* [x] `;p` + `tab` 图片
* [x] `;cb` + `tab` 代码块
* [x] `;x` + `tab` 任务列表（已完成）
* [x] `;空格` + `tab` 任务列表（未完成）
    </markdown>
</body>
</html>
