<div class="layout">
  <div class="my-4">
    <app-button>New Post</app-button>
  </div>
  <div class="my-4">
    <div class="flex flex-row gap-4 items-baseline">
      <div class="w-[60%] truncate">LLorem asdfsa fjksadfl kasf sakldf jasklf jasdkl faskldfjasd Lorem asdfsa fjksadfl kasf sakldf jasklf jasdkl faskldfjasd orem asdfsa fjksadfl kasf sakldf jasklf jasdkl faskldfjasd </div>
      <app-button [routerLink]="['/edit']">Edit</app-button>
      <app-button>Render</app-button>
      <app-button>Delete</app-button>
    </div>
  </div>
</div>
