@page "{id}"
@model ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    Layout = "_Layout";
}


<div class="article">
    <h1 class="title">@Model.Article.Title</h1>
    <div class="">
        <span class="weak">@Model.Article.LastEdited.ToString("yyyy/MM/dd")</span>
    </div>
    <div class="divide wide-divide"></div>

    <div class="content article-md">
        <markdown>@Html.Raw(Model.Article.Content)</markdown>
    </div>
</div>

@section Sidebar {
<side-group title="内容导航">
    <ul class='toc-list'>
        @foreach (var item in Model.TOCList)
        {
            <li class="toc-H@(item.Level)">
                <a href="#@item.Id">@item.Name</a>
            </li>
        }
    </ul>
</side-group>
}

@section Styles{
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/vs2015.min.css" rel="stylesheet">
}

@section Scripts {
    <script>window.__pageModule = 'article-ro'</script>
    <script src="~/dist/article.js"></script>
    <script>
        $('input[type=checkbox][disabled][checked]').replaceWith('<b class="mdl2" aria-hidden="true" style="font-size: .8rem;">&#xF16C;</b>')
        $('input[type=checkbox][disabled]').replaceWith('<b class="mdl2" aria-hidden="true" style="font-size: .8rem;">&#xF16B;</b>');
    </script>
    <script src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js"></script>
    <script>
        MathJax.Hub.Config({
            messageStyle: 'none',
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\[', '\]']],
                processEscapes: true
            },
            'HTML-CSS': { availableFonts: ['TeX'] }
        });
    </script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    @foreach (var lang in Model.Languages)
    {
        <script src="https://cdn.bootcss.com/highlight.js/9.12.0/languages/@(lang).min.js"></script>
    }
    <script>
        hljs.initHighlightingOnLoad();
    </script>
}
