@page "{id}"
@model ArticleModel
@{
    ViewData["Title"] = Model.Article.Title;
    Layout = "_Layout";
}


<div class="article">
    <h1 class="col-12">@Model.Article.Title</h1>
    <div class="col-12">
        <span class="weak">@Model.Article.LastEdited.ToString("yyyy/MM/dd")</span>
    </div>
    <div class="divide wide-divide"></div>

    <div class="col-12 content article-md">
        <markdown>@Html.Raw(Model.Article.Content)</markdown>
    </div>
    <div id="hypercomments_widget" class="col-12"></div>
</div>

@section Sidebar {
    <vc:side-item head="内容导航" item-content="<ul class='toc-list'></ul>"></vc:side-item>
}

@section Styles{
    <link href="https://cdn.bootcss.com/highlight.js/9.12.0/styles/vs2015.min.css" rel="stylesheet">
}

@section Scripts {
    <script>window.__pageModule = 'article-ro'</script>
    <script src="~/dist/article.js"></script>
    <script>
        $('input[type=checkbox][disabled][checked]').replaceWith('<i class="fa fa-check-square-o" aria-hidden="true"></i>')
        $('input[type=checkbox][disabled]').replaceWith('<i class="fa fa-square-o" aria-hidden="true"></i>');
    </script>
    <script src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js"></script>
    <script>
        MathJax.Hub.Config({
            messageStyle: 'none',
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\[', '\]']],
                processEscapes: true
            },
            'HTML-CSS': { availableFonts: ['TeX'] }
        });
    </script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/highlight.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/languages/typescript.min.js"></script>
    <script src="https://cdn.bootcss.com/highlight.js/9.12.0/languages/fsharp.min.js"></script>
    <script>
        hljs.initHighlightingOnLoad()
    </script>
    <script type="text/javascript">
        _hcwp = window._hcwp || [];
        _hcwp.push({ widget: "Stream", widget_id: 97476 });
        (function () {
            if ("HC_LOAD_INIT" in window) return;
            HC_LOAD_INIT = true;
            var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage || "en").substr(0, 2).toLowerCase();
            var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
            hcc.src = ("https:" == document.location.protocol ? "https" : "http") + "://w.hypercomments.com/widget/hc/97476/" + lang + "/widget.js";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hcc, s.nextSibling);
        })();
    </script>
}
