@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
    Layout = "_Layout";
}

<div class="index">
    <h1 class="col-12">网上冲浪指南</h1>
    <div class="divide wide-divide"></div>
    <div class="col-12 grid articles">
        @foreach (var article in Model.Articles)
        {
            <div class="col-12 article-short">
                <h2><a href="@Url.Page("/Article",new {id = article.Id})" target="_blank">@article.Title</a></h2>
                <span class="weak">@article.LastEdited.ToString("yyyy/MM/dd")</span>
                <div class="weak summary">
                    <markdown>@Html.Raw(article.Summary)</markdown>
                </div>
            </div>
        }
    </div>
</div>

@section Sidebar {
    <side-group title="友情链接">
        <a class="side-item" href="https://rocka.me" target="_blank">Rocket1184</a>
        <a class="side-item" href="http://blog.neatline.cn" target="_blank">Neatline</a>
    </side-group>
    @*@Component.InvokeAsync("SideGroup", new { title="测试", content="测试"})*@
}

@section Scripts {
    <script src="https://cdn.bootcss.com/mathjax/2.7.2/MathJax.js"></script>
    <script>
        MathJax.Hub.Config({
            messageStyle: 'none',
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                displayMath: [['$$', '$$'], ['\[', '\]']],
                processEscapes: true
            },
            'HTML-CSS': { availableFonts: ['TeX'] }
        });
    </script>
    <script>window.__pageModule = 'article-list'</script>
    <script src="~/dist/article.js"></script>
}
