@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
    Layout = "_Layout";
}

<h1 class="col-12">网上冲浪指南</h1>
<div class="divide wide-divide"></div>
<div class="col-12 grid articles">
    @foreach (var article in Model.Articles)
    {
        <div class="col-12 article">
            <h2><a href="@Url.Page("/Article",new {id = article.Id})" target="_blank">@article.Title</a></h2>
            <span class="weak">@article.LastEdited.ToString("yyyy/MM/dd")</span>
            <p class="weak summary">@article.Summary</p>
        </div>
    }
</div>

@section Sidebar {
    <vc:side-item head="友情链接" item-content="<a href='https://rocka.me' target='_blank'>https://rocka.me</a>"></vc:side-item>
    <vc:side-item head="测试" item-content="测试"></vc:side-item>
}
