@page "{code}"
@model ZeekoBlog.Pages.OppsModel
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Opps! - @Model.Code</title>
</head>
<body>
<h1 class="col-12">Opps， 遭遇 @Model.Code ！
    <a href="@Url.Page("/Index")">带我回去</a>
</h1>
</body>
</html>